<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskData" hideToggle="false" class="clickable-row">
      <th>{{ task.name }}</th>
      <td>{{ task.description }}</td>
      <td>
        <span class="badge bg-danger" *ngIf="task.taskStatus == 'to-do'">{{
          task.taskStatus
        }}</span>
        <span
          class="badge bg-warning text-dark"
          *ngIf="task.taskStatus == 'in-progress'"
          >{{ task.taskStatus }}</span
        >
        <span
          class="badge bg-success text-dark"
          *ngIf="task.taskStatus == 'done'"
          >{{ task.taskStatus }}</span
        >
      </td>
      <td>
        <a><i class="fa fa-edit"></i></a>
        <span class="spacer"></span>
        <a><i class="fa fa-trash-alt"></i></a>
        <span class="spacer"></span>
      </td>
    </tr>
  </tbody>
</table>