<div class="container margin">
  <div class="card">
    <div class="card-header card-primary">
      <h6 class="card-title">Actualizar Usuario</h6>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            [(ngModel)]="registerData.email"
            class="form-control"
            disabled
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre</label>
          <input
            [(ngModel)]="registerData.name"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input
        type="password"
        [(ngModel)]="registerData.password"
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
      />
        </div>
        
      </div>

      <div class="card-footer">
        <button (click)="updateUser()" class="btn btn-primary">Aceptar</button>
      </div>
    </form>
  </div>
