.margin-style{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.agregar{
    margin-top: 10px;
}

.table {
	background: var(--backgroundColor);
	border-radius: 10px;
}

.card{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.card-primary{
    background-color: #007bff;
    color: #ffffff;
}